    .buttons {
    margin-top: 20px;
  }
  
  .sumrow {
    border-top:  2px solid #333;
    font-weight: bold;
    border-bottom: none;
  }

  .container {
    margin-top: 10px;
    margin-bottom: 75px;
  }