.productrow{
    border-top:  2px solid #333;
    font-weight: bold;
    border-bottom: none;
  }

.productwidht{
    width: 40rem;
}

@media (min-width: 992px){
  .card productwidht{
      padding-left: 2rem;
  }
  
}