.productrow{
    border-top:  2px solid #333;
    font-weight: bold;
    border-bottom: none;
  }

.productwidht{
    width: 28rem;
}

.imagesize{
  width:28rem;
}

@media (min-width: 992px){
  .card productwidht{
      width: 28rem;
  }

  .imagesize{
    width:28rem;
  }

  .productrow{
    border-top:  2px solid #333;
    font-weight: bold;
    border-bottom: none;
  }

  
  
}