.container {
  padding-top: 70px;
}

footer .container {
  margin-top: 0;
}

footer {
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
  height: 60px;
  border-top: 2px solid #f5f5f5;
  text-align: center;
  background-size: cover;
  background-color: rgb(166, 190, 239);
  color: black;
}

a {
  text-decoration: none;
  color: #333;
}



